/*!
 * Project_Name: Themezy Movie Review
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

audio
:not
 

[hidden], template {
	display: none;
}

html {
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	text-decoration: none;
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg
:not
 
(
:root
 
) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Global Styles
 */
body {
	background-color: #131a20;
	background-position: top center;
	background-repeat: no-repeat;
	color: #84878d;
	font-family: "Roboto", "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
}

hr {
	border: none;
	border-bottom: 1px solid #777;
}

ul, ol {
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

p {
	margin-top: 0;
}

form input, form textarea, form select {
	outline: none;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	outline: none;
}

form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form textarea {
	resize: vertical;
}

/*
 * Reusable Components Style
 */
.button, form input[type="submit"], form button, form input[type="reset"],
	.contact-form input[type="submit"] {
	border: none;
	background: #ffaa3c;
	padding: 10px;
	border-radius: 3px;
	color: #92601e;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover,
	.contact-form input[type="submit"]:hover, .button:focus, form input[type="submit"]:focus,
	form button:focus, form input[type="reset"]:focus, .contact-form input[type="submit"]:focus
	{
	background-color: #ffc06f;
}

#btnCancel {
	background: #e7e7e7;
	color: #84878d;
}

#btnCancel:hover {
	color: #000;
}

.filters {
	margin-bottom: 50px;
}

.filters select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px 50px 10px 10px;
	background-color: #e7e7e7;
	border-radius: 5px;
	border: none;
	margin-right: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	outline: none;
}

.slider {
	position: relative;
	margin-bottom: 30px;
}

.slider .slides {
	list-style: none;
	*zoom: 1;
}

.slider .slides:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.slider li {
	border-radius: 5px;
	overflow: hidden;
}

.slider img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

.slider .flex-direction-nav {
	list-style: none;
	z-index: 2;
	position: absolute;
	top: 45%;
	width: 100%;
}

.slider .flex-direction-nav a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: white;
	text-align: center;
	line-height: 2.5;
	font-size: 18px;
	font-size: 1.2em;
	display: block;
	position: absolute;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.slider .flex-direction-nav a:hover {
	background-color: #ffaa3c;
	color: white;
}

.slider .flex-direction-nav .flex-prev {
	left: 30px;
}

.slider .flex-direction-nav .flex-next {
	right: 30px;
}

.latest-movie {
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
}

.latest-movie img {
	max-width: 100%;
	width: 100%;
	display: block;
	height: auto;
}

.team {
	text-align: center;
	margin: 0 0 30px;
}

.team .team-image {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 30px;
}

.team .team-image img {
	display: block;
	max-width: 100%;
	width: 100%;
}

.team .team-name {
	font-size: 16px;
	font-size: 1.0666666667em;
	margin: 0;
}

.team .team-title {
	font-size: 12px;
	font-size: 0.8em;
}

.social-links {
	margin: 20px 0;
}

.social-links a {
	color: white;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	line-height: 1.9;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.social-links .facebook {
	background-color: #204385;
}

.social-links .facebook:hover {
	background-color: #2a58ae;
}

.social-links .twitter {
	background-color: #2aa9e0;
}

.social-links .twitter:hover {
	background-color: #57bbe6;
}

.social-links .google-plus {
	background-color: #d3492c;
}

.social-links .google-plus:hover {
	background-color: #dc6d56;
}

.social-links .pinterest {
	background-color: #ca2128;
}

.social-links .pinterest:hover {
	background-color: #e03e45;
}

.breadcrumbs {
	padding-bottom: 20px;
}

.breadcrumbs a {
	font-weight: 400;
	font: 30px/40px 'UTMCafetaRegular';
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	height: 40px;
	line-height: 47px;
	color: #dacb46;
	border-radius: 3px 3px 0 0;
	box-shadow: darkgreen;
	transform: translateX(-20px);
}

.breadcrumbs a:after {
	content: " ";
	width: 8px;
	height: 5px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.breadcrumbs a:hover {
	color: #ffaa3c;
}

.breadcrumbs span {
	font-weight: 400;
	font: 30px/40px 'UTMCafetaRegular';
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	height: 40px;
	line-height: 47px;
	color: #dacb46;
	border-radius: 3px 3px 0 0;
	box-shadow: darkgreen;
	transform: translateX(-20px);
}

ul.arrow {
	list-style: none;
}

ul.arrow li {
	padding-left: 20px;
	margin-bottom: 5px;
}

ul.arrow li a {
	color: #84878d;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

ul.arrow li a:hover {
	color: #ffaa3c;
}

/* Star rating style */
.star-rating {
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 2px;
	height: 1em;
	line-height: 1.1;
	font-size: 15px;
	font-size: 1em;
	width: 4.7em;
	font-family: "FontAwesome";
}

.star-rating:before {
	content: "\f005\f005\f005\f005\f005";
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.star-rating span:before {
	content: "\f005\f005\f005\f005\f005";
	top: 0;
	position: absolute;
	left: 0;
	color: #ffaa3c;
}

.feature {
	margin-bottom: 30px;
}

.feature .feature-title {
	color: #ffaa3c;
	font-size: 30px;
	font-size: 2em;
	margin: 0;
}

.feature .feature-subtitle {
	font-size: 24px;
	font-size: 1.6em;
	margin: 0 0 30px;
	font-weight: 300;
	display: block;
}

.feature p {
	margin-bottom: 30px;
}

.map {
	clear: both;
	height: 490px;
	margin-bottom: 30px;
}

.img-format {
	max-height: 160px;
	min-height: 160px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 990px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container-fluid:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	*zoom: 1;
}

.row:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}

.col-xs-1 {
	width: 8.3333333333%;
}

.col-xs-2 {
	width: 16.6666666667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.3333333333%;
}

.col-xs-5 {
	width: 41.6666666667%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58.3333333333%;
}

.col-xs-8 {
	width: 66.6666666667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.3333333333%;
}

.col-xs-11 {
	width: 91.6666666667%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.3333333333%;
}

.col-xs-pull-2 {
	right: 16.6666666667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.3333333333%;
}

.col-xs-pull-5 {
	right: 41.6666666667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.3333333333%;
}

.col-xs-pull-8 {
	right: 66.6666666667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.3333333333%;
}

.col-xs-pull-11 {
	right: 91.6666666667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.3333333333%;
}

.col-xs-push-2 {
	left: 16.6666666667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.3333333333%;
}

.col-xs-push-5 {
	left: 41.6666666667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.3333333333%;
}

.col-xs-push-8 {
	left: 66.6666666667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.3333333333%;
}

.col-xs-push-11 {
	left: 91.6666666667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
	margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
	margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
	margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
	margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

@media ( min-width : 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
		.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-1 {
		width: 8.3333333333%;
	}
	.col-sm-2 {
		width: 16.6666666667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.3333333333%;
	}
	.col-sm-5 {
		width: 41.6666666667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.3333333333%;
	}
	.col-sm-8 {
		width: 66.6666666667%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.3333333333%;
	}
	.col-sm-11 {
		width: 91.6666666667%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-pull-1 {
		right: 8.3333333333%;
	}
	.col-sm-pull-2 {
		right: 16.6666666667%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-4 {
		right: 33.3333333333%;
	}
	.col-sm-pull-5 {
		right: 41.6666666667%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-7 {
		right: 58.3333333333%;
	}
	.col-sm-pull-8 {
		right: 66.6666666667%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-10 {
		right: 83.3333333333%;
	}
	.col-sm-pull-11 {
		right: 91.6666666667%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-push-1 {
		left: 8.3333333333%;
	}
	.col-sm-push-2 {
		left: 16.6666666667%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-4 {
		left: 33.3333333333%;
	}
	.col-sm-push-5 {
		left: 41.6666666667%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-7 {
		left: 58.3333333333%;
	}
	.col-sm-push-8 {
		left: 66.6666666667%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-10 {
		left: 83.3333333333%;
	}
	.col-sm-push-11 {
		left: 91.6666666667%;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.col-sm-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-sm-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-sm-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-sm-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
		.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1 {
		width: 8.3333333333%;
	}
	.col-md-2 {
		width: 16.6666666667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3333333333%;
	}
	.col-md-5 {
		width: 41.6666666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.3333333333%;
	}
	.col-md-8 {
		width: 66.6666666667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.3333333333%;
	}
	.col-md-11 {
		width: 91.6666666667%;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-pull-1 {
		right: 8.3333333333%;
	}
	.col-md-pull-2 {
		right: 16.6666666667%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-4 {
		right: 33.3333333333%;
	}
	.col-md-pull-5 {
		right: 41.6666666667%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-7 {
		right: 58.3333333333%;
	}
	.col-md-pull-8 {
		right: 66.6666666667%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-10 {
		right: 83.3333333333%;
	}
	.col-md-pull-11 {
		right: 91.6666666667%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-push-1 {
		left: 8.3333333333%;
	}
	.col-md-push-2 {
		left: 16.6666666667%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-4 {
		left: 33.3333333333%;
	}
	.col-md-push-5 {
		left: 41.6666666667%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-7 {
		left: 58.3333333333%;
	}
	.col-md-push-8 {
		left: 66.6666666667%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-10 {
		left: 83.3333333333%;
	}
	.col-md-push-11 {
		left: 91.6666666667%;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
	.col-md-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-md-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-md-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-md-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-md-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
		.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-1 {
		width: 8.3333333333%;
	}
	.col-lg-2 {
		width: 16.6666666667%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.3333333333%;
	}
	.col-lg-5 {
		width: 41.6666666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.3333333333%;
	}
	.col-lg-8 {
		width: 66.6666666667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.3333333333%;
	}
	.col-lg-11 {
		width: 91.6666666667%;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		right: 8.3333333333%;
	}
	.col-lg-pull-2 {
		right: 16.6666666667%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-4 {
		right: 33.3333333333%;
	}
	.col-lg-pull-5 {
		right: 41.6666666667%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-7 {
		right: 58.3333333333%;
	}
	.col-lg-pull-8 {
		right: 66.6666666667%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-10 {
		right: 83.3333333333%;
	}
	.col-lg-pull-11 {
		right: 91.6666666667%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		left: 8.3333333333%;
	}
	.col-lg-push-2 {
		left: 16.6666666667%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-4 {
		left: 33.3333333333%;
	}
	.col-lg-push-5 {
		left: 41.6666666667%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-7 {
		left: 58.3333333333%;
	}
	.col-lg-push-8 {
		left: 66.6666666667%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-10 {
		left: 83.3333333333%;
	}
	.col-lg-push-11 {
		left: 91.6666666667%;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
	.col-lg-offset-1 {
		margin-left: 8.3333333333%;
	}
	.col-lg-offset-2 {
		margin-left: 16.6666666667%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.3333333333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.6666666667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.3333333333%;
	}
	.col-lg-offset-8 {
		margin-left: 66.6666666667%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.3333333333%;
	}
	.col-lg-offset-11 {
		margin-left: 91.6666666667%;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
}

-ms-viewport {
	width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block,
	.visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
	.visible-md-block, .visible-md-inline, .visible-md-inline-block,
	.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none !important;
}

@media ( max-width : 767px) {
	.visible-xs {
		display: block !important;
	}
	table.visible-xs {
		display: table;
	}
	tr.visible-xs {
		display: table-row !important;
	}
	th.visible-xs, td.visible-xs {
		display: table-cell !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-block {
		display: block !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-inline {
		display: inline !important;
	}
}

@media ( max-width : 767px) {
	.visible-xs-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}
	table.visible-sm {
		display: table;
	}
	tr.visible-sm {
		display: table-row !important;
	}
	th.visible-sm, td.visible-sm {
		display: table-cell !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-block {
		display: block !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-inline {
		display: inline !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.visible-sm-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}
	table.visible-md {
		display: table;
	}
	tr.visible-md {
		display: table-row !important;
	}
	th.visible-md, td.visible-md {
		display: table-cell !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-block {
		display: block !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-inline {
		display: inline !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.visible-md-inline-block {
		display: inline-block !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg {
		display: block !important;
	}
	table.visible-lg {
		display: table;
	}
	tr.visible-lg {
		display: table-row !important;
	}
	th.visible-lg, td.visible-lg {
		display: table-cell !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-inline {
		display: inline !important;
	}
}

@media ( min-width : 1200px) {
	.visible-lg-inline-block {
		display: inline-block !important;
	}
}

@media ( max-width : 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media ( min-width : 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: block !important;
	}
	table.visible-print {
		display: table;
	}
	tr.visible-print {
		display: table-row !important;
	}
	th.visible-print, td.visible-print {
		display: table-cell !important;
	}
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}
}

.visible-print-inline {
	display: none !important;
}

@media print {
	.visible-print-inline {
		display: inline !important;
	}
}

.visible-print-inline-block {
	display: none !important;
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}

@media print {
	.hidden-print {
		display: none !important;
	}
}
/*
 * Header Styles
 */
.site-header {
	padding-top: 40px;
	padding-bottom: 20px;
	*zoom: 1;
}

.site-header:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

#branding {
	float: left;
}

#branding .logo, #branding .logo-copy {
	margin-bottom: 30px;
	display: inline-block;
}

#branding .logo {
	margin-right: 10px;
}

#branding .site-title {
	margin: 0;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	font-size: 1.0666666667em;
}

#branding .site-title a {
	color: white;
}

#branding .site-description {
	font-size: 13px;
	font-size: 0.8666666667em;
	color: #9198af;
}

.main-navigation {
	float: left;
	border-radius: 5px;
	height: 40px;
	margin-left: 20px;
}

.main-navigation .menu-toggle, .main-navigation .menu, .main-navigation .search-form
	{
	display: inline-block;
	vertical-align: middle;
}

.main-navigation .menu-toggle {
	color: #333;
	border: none;
	background: none;
	font-size: 18px;
	font-size: 1.2em;
	padding: 8px 15px;
	display: none;
	outline: none;
}

@media screen and (max-width: 990px) {
	.main-navigation .menu-toggle {
		display: inline-block;
	}
}

@media screen and (min-width: 991px) {
	.main-navigation .menu-toggle {
		display: none !important;
	}
}

.main-navigation .menu {
	list-style: none;
	margin: 0;
}

@media screen and (min-width: 991px) {
	.main-navigation .menu {
		display: inline-block !important;
	}
}

@media screen and (max-width: 990px) {
	.main-navigation .menu {
		display: none;
	}
}

.main-navigation .menu-item {
	display: inline-block;
	padding: 10px 0;
	font-weight: 600;
	font-family: tahoma, sans-serif;
	text-transform: uppercase;
}

.main-navigation .menu-item a {
	padding: 0 15px;
	display: inline-block;
	color: #84878d;
	font-size: 14px;
	font-size: 0.9333333333em;
	font-weight: 400;
	line-height: 1;
	color: burlywood;
}

.main-navigation .menu-item.current-menu-item, .main-navigation .menu-item:hover
	{
	position: relative;
}

.main-navigation .menu-item.current-menu-item:after, .main-navigation .menu-item:hover:after
	{
	content: " ";
	position: absolute;
	width: 80%;
	height: 3px;
	/*background: linear-gradient(-270deg, #4080ff 0%, #0051f3 100%);  */
	background: linear-gradient(to right, #795548, #292e39);
	bottom: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
}

.main-navigation .search-form input {
	background-color: #f0f0f0;
	border: none;
	border-left: 1px solid #eeeeef;
	border-radius: 0;
	font-family: inherit;
	font-weight: 300;
	width: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	padding: 10px 0;
}

.main-navigation .search-form input.active {
	width: 200px;
	visibility: visible;
	opacity: 1;
	padding: 10px;
}

.main-navigation .search-form button {
	background-color: transparent;
	border: none;
	border-left: 1px solid #eeeeef;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -5px;
	color: inherit;
	box-shadow: none;
	outline: none;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.main-navigation .search-form button.active {
	background-color: #f0f0f0;
}

.mobile-navigation {
	clear: both;
	padding-top: 20px;
	display: none;
}

@media screen and (min-width: 991px) {
	.mobile-navigation {
		display: none !important;
	}
}

.mobile-navigation .menu {
	padding: 10px 20px;
	background-color: white;
	border-radius: 3px;
	list-style: none;
}

.mobile-navigation .menu li {
	border-bottom: 1px solid #eeeeef;
}

.mobile-navigation .menu li:last-child {
	border-bottom: none;
}

.mobile-navigation .menu a {
	color: #84878d;
	padding: 10px;
	display: block;
}

.mobile-navigation .menu a:hover {
	color: #ffaa3c;
}

.main-content .container {
	padding: 30px;
	border-top: 1px solid;
}

.section-title {
	font-size: 30px;
	font-size: 2em;
	font-weight: 300;
}

.movie-schedule {
	list-style: none;
}

.movie-schedule li {
	padding: 10px 0;
	border-bottom: 1px solid #d7d8da;
}

.movie-schedule li:last-child {
	border-bottom: none;
}

.movie-schedule .date, .movie-schedule .entry-title {
	display: inline-block;
}

.movie-schedule .date {
	width: 80px;
	padding: 5px 10px;
	text-align: center;
	font-size: 12px;
	font-size: 0.8em;
	border: 1px solid #d7d8da;
	border-radius: 3px;
	margin-right: 10px;
}

.movie-schedule .entry-title {
	font-size: 15px;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.movie-schedule .entry-title a {
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.movie-schedule .entry-title a:hover {
	color: #84878d;
}

.no-bullet {
	list-style: none;
}

.leading {
	font-size: 26px;
	font-size: 1.7333333333em;
	font-weight: 300;
}

.page figure {
	margin-bottom: 30px;
}

.page img {
	max-width: 100%;
}

.page .movie-title {
	font-size: 36px;
	font-size: 2.4em;
	font-weight: 300;
}

.movie-list {
	margin: 0 -15px;
}

.movie-list .movie {
	width: 25%;
	padding: 0 15px;
	float: left;
	margin-bottom: 30px;
}

@media screen and (min-width: 991px) {
	.movie-list .movie:nth-child(4n+1) {
		clear: both;
	}
}

@media screen and (max-width: 990px) {
	.movie-list .movie {
		width: 50%;
	}
	.movie-list .movie:nth-child(4n+1) {
		clear: none;
	}
	.movie-list .movie:nth-child(2n+1) {
		clear: both;
	}
}

@media screen and (max-width: 480px) {
	.movie-list .movie {
		width: 100%;
		clear: both;
	}
}

.movie-list .movie .movie-poster {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.movie-list .movie .movie-poster img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.movie-list .movie:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.movie-list .movie .movie-title {
	font-size: 24px;
	font-size: 1.6em;
	font-weight: 300;
	margin-bottom: 20px;
}

.movie-list .movie .movie-title a {
	color: #84878d;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.movie-list .movie .movie-title a:hover {
	color: #ffaa3c;
}

.pagination {
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	margin: 3rem;
	border-radius: 0.6rem;
	background: #ffffff;
	box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
}

.pagination .page-number {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	line-height: 1.9;
	color: #84878d;
	font-size: 15px;
	font-size: 1em;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	margin: 0px 5px;
	font-weight: initial;
}

.pagination .page-number.current, .pagination .page-number:hover {
	background: #23adad;
	color: white;
}

.movie-meta, .starring {
	margin-bottom: 30px;
	list-style: none;
}

.movie-meta li, .starring li {
	margin-bottom: 10px;
}

/*
 * Footer Styles
 */
.site-footer {
	padding: 50px 0;
}

.site-footer .widget {
	margin-bottom: 30px;
}

.site-footer .widget-title {
	color: #bec1c8;
	font-weight: 300;
}

.site-footer .subscribe-form input[type="text"] {
	width: 100%;
	border: 1px solid #bec1c8;
	background-color: transparent;
	color: inherit;
	font-size: 13px;
	font-size: 0.8666666667em;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-footer .subscribe-form input[type="text"]:focus, .site-footer .subscribe-form input[type="text"]:hover
	{
	border-color: #ffaa3c;
}

.site-footer a {
	color: #84878d;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.site-footer a:hover {
	color: #ffaa3c;
}

.site-footer .colophon {
	padding-top: 30px;
}

div, label {
	margin: 0;
	padding: 0;
}

.indexA {
	color: #84878d;
}

.indexA:hover {
	color: #ffaa3c;
}

.inputUrl {
	margin-top: 2.5%;
}

.commentContent, .moreIcon, #contentComment {
	font-size: large;
}

.unameComment {
	color: #ffaa3c;
}

.unameCommentAdmin {
	color: red;
}

.unameCommentMember {
	color: blue;
}

.menu-item-search {
	margin-right: 15px;
}

#groupAdmin {
	margin: 5% 10%;
}

.my-search-input {
	font-size: 20px;
}

.search-video-manager::placeholder {
	font-size: 15px;
	/* transform: translateY(5px); */
	color: #333;
}

.my-search-button {
	font-size: 22px;
}

.float-right {
	float: right;
}

.justify-content-center {
	justify-content: center;
}

.td-center {
	position: relative;
}

.center-child {
	top: 30%;
}

.display-none {
	display: none;
}

.clear-both {
	clear: both;
}

#yourPoint {
	margin: auto;
	color: #FFD700;
}

.form-check-inline {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0;
	margin-right: .75rem
}

.form-check-inline .form-check-input {
	position: static;
	margin-top: 0;
	margin-right: .3125rem;
	margin-left: 0
}

.form-check-label {
	margin: 5px;
}

.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55
}

.btn-outline-primary {
	color: #007bff;
	border-color: #007bff
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #007bff;
	background-color: transparent
}

.btn-outline-primary:not (:disabled ):not (.disabled ).active,
	.btn-outline-primary:not (:disabled ):not (.disabled ):active, .show>.btn-outline-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-outline-primary:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-primary:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #6c757d
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
	box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #6c757d;
	background-color: transparent
}

.btn-outline-secondary:not (:disabled ):not (.disabled ).active,
	.btn-outline-secondary:not (:disabled ):not (.disabled ):active, .show>.btn-outline-secondary.dropdown-toggle
	{
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d
}

.btn-outline-secondary:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-secondary:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-success {
	color: #28a745;
	border-color: #28a745
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-outline-success.focus, .btn-outline-success:focus {
	box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
	color: #28a745;
	background-color: transparent
}

.btn-outline-success:not (:disabled ):not (.disabled ).active,
	.btn-outline-success:not (:disabled ):not (.disabled ):active, .show>.btn-outline-success.dropdown-toggle
	{
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-outline-success:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-success:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info {
	color: #17a2b8;
	border-color: #17a2b8
}

.btn-outline-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8
}

.btn-outline-info.focus, .btn-outline-info:focus {
	box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
	color: #17a2b8;
	background-color: transparent
}

.btn-outline-info:not (:disabled ):not (.disabled ).active,
	.btn-outline-info:not (:disabled ):not (.disabled ):active, .show>.btn-outline-info.dropdown-toggle
	{
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8
}

.btn-outline-info:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-info:not (:disabled ):not (.disabled ):active:focus, .show>.btn-outline-info.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107
}

.btn-outline-warning:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-outline-warning.focus, .btn-outline-warning:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: #ffc107;
	background-color: transparent
}

.btn-outline-warning:not (:disabled ):not (.disabled ).active,
	.btn-outline-warning:not (:disabled ):not (.disabled ):active, .show>.btn-outline-warning.dropdown-toggle
	{
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-outline-warning:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-warning:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger {
	color: #dc3545;
	border-color: #dc3545
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
	box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: #dc3545;
	background-color: transparent
}

.btn-outline-danger:not (:disabled ):not (.disabled ).active,
	.btn-outline-danger:not (:disabled ):not (.disabled ):active, .show>.btn-outline-danger.dropdown-toggle
	{
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545
}

.btn-outline-danger:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-danger:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa
}

.btn-outline-light:hover {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa
}

.btn-outline-light.focus, .btn-outline-light:focus {
	box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
	color: #f8f9fa;
	background-color: transparent
}

.btn-outline-light:not (:disabled ):not (.disabled ).active,
	.btn-outline-light:not (:disabled ):not (.disabled ):active, .show>.btn-outline-light.dropdown-toggle
	{
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa
}

.btn-outline-light:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-light:not (:disabled ):not (.disabled ):active:focus,
	.show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark {
	color: #343a40;
	border-color: #343a40
}

.btn-outline-dark:hover {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
	color: #343a40;
	background-color: transparent
}

.btn-outline-dark:not (:disabled ):not (.disabled ).active,
	.btn-outline-dark:not (:disabled ):not (.disabled ):active, .show>.btn-outline-dark.dropdown-toggle
	{
	color: #fff;
	background-color: #343a40;
	border-color: #343a40
}

.btn-outline-dark:not (:disabled ):not (.disabled ).active:focus,
	.btn-outline-dark:not (:disabled ):not (.disabled ):active:focus, .show>.btn-outline-dark.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.d-flex {
	display: -ms-flexbox !important;
	display: flex !important
}

.select-form {
	width: 30%;
	height: auto;
	padding: 5px;
}

.chartCanvas {
	margin: auto;
	padding: 10px;
	width: 80%;
}

.min-witdth {
	min-width: 100px;
}

.widget .panel-body {
	padding: 0px;
}

.widget .list-group {
	margin-bottom: 0;
}

.widget .panel-title {
	display: inline
}

.widget .label-info {
	float: right;
}

.widget li.list-group-item {
	border-radius: 0;
	border: 0;
	border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
	background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
	color: #666666;
	font-size: 11px;
}

.widget .action {
	margin-top: 5px;
}

.widget .comment-text {
	font-size: 12px;
}

.widget .btn-block {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/****** Style Star Rating Widget *****/
#rating {
	border: none;
	float: left;
}

#rating>input {
	display: none;
}

#rating>label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

#rating>.half:before {
	content: "\f089";
	position: absolute;
}

#rating>label {
	color: #ddd;
	float: right;
}

#rating>input:checked ~label {
	color: #FFD700;
}

#rating>label:hover ~label, #rating>input:checked ~label:hover {
	color: #FFED85;
}

#rating>label:hover {
	color: #FFED85;
}

/* Change css */
/* footer */
.footer-change 
	.container h1 {
	margin-top: 10px;
	color: #58b95b;
	font-weight: 700;
}

.footer-change .container {
	border-top: 1px solid;
	padding-top: 20px;
}

.footer-change .container .phan h5:hover {
	color: #fff;
	cursor: pointer;
}

#site-content {
	background: linear-gradient(to right, #292e39, #795548);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	/* background: #4080FF; */
	background: linear-gradient(to bottom, #795548, #292e39);
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/*  Change index.html*/
.header-inner-change h1 {
	font-size: 25px;
	font-weight: 700;
	color: #e0e6f0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.header-inner-change h3 {
	font-size: 1.5rem;
	color: #959fb4;
	margin-bottom: 30px;
}

.banner-header-filmhot {
	margin-bottom: 40px;
	border-radius: 8px;
	box-shadow: 5px 5px 20px;
	padding-right: 10px;
	background: linear-gradient(to left, #292e39, #795548);
}

.banner-header-filmhot .text-eclip {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 3;
	height: 75px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.banner-header-filmhot .description h2 {
	margin-top: 0px;
	color: #FF9800;
	font-size: 23px;
	font-weight: bold;
	line-height: 1.25;
}

.banner-header-filmhot .description p {
	font-size: 15px;
	color: #c9c4c4;
}

.banner-header-filmhot .description strong {
	color: #c9c4c4;
	margin-right: 4px;
}

.banner-header-filmhot .reponsive-img {
	width: 450px;
	height: 360px;
	position: relative;
}

.banner-header-filmhot .reponsive-img .img-full-hd {
	position: absolute;
	top: 20px;
	left: 4px;
}

.banner-header-filmhot .description {
	margin-top: 20px;
}

.input-search-phim {
	height: 32px;
	margin-top: 5px;
	width: 370px;
	outline: none;
	border: 1px;
	background-color: #303137;
	border-radius: 100px;
	color: #9f9f9f;
	display: inline-block;
	padding: 8px 40px 8px 15px;
	text-decoration: none;
	-webkit-box-shadow: inset 1px 1px 1px rgb(0 0 0/ 40%), 1px 1px 0
		rgb(255 255 255/ 15%);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0
		rgba(255, 255, 255, 0.15);
	box-shadow: inset 1px 1px 1px rgb(0 0 0/ 40%), 1px 1px 0
		rgb(255 255 255/ 15%);
}

/* CSS custom-list phim index */
.film-action  .movie-title .title {
	font: 30px/40px 'UTMCafetaRegular';
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 400;
	display: inline-block;
	height: 40px;
	line-height: 47px;
	color: #dacb46;
	border-radius: 3px 3px 0 0;
}

.film-action  .movie-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.film-action  .movie-title .film-all {
	display: inline-block;
	padding: 15px 12px 0 0;
	color: #ddd;
	font-size: 14px;
	cursor: pointer;
	transform: translateX(-60px);
}

.film-action  .movie-title .film-all span {
	margin-right: 5px;
}

.film-action  .movie-title .film-all span:hover {
	color: #f78144;
	margin-right: 10px;
}

.film-action .list-film-action .item-film-action {
	width: 180px;
	height: 270px;
	position: relative;
	background: #131313;
	padding: 5px;
	border-radius: 5px;
}

.film-action .list-film-action {
	border-radius: 5px;
}

.film-action .list-film-action .item-film-action .description {
	position: absolute;
	bottom: -5px;
	left: 9px;
}

.film-action .list-film-action .item-film-action .item {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.film-action .list-film-action .item-film-action .item:hover .item-bottom
	{
	opacity: 1;
}

.film-action .list-film-action .item-film-action .item .item-bottom {
	pointer-events: none;
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	height: 5px;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	top: 100%;
	background: -webkit-radial-gradient(ellipse at 50% -50%, #f05715 0%, rgba(0, 0, 0, 0
		) 80%);
	background: radial-gradient(ellipse at 50% -50%, #f05715 0%, rgba(0, 0, 0, 0)
		80%);
}

.film-action .list-film-action .item-film-action .item .img-film {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.film-action .list-film-action .item-film-action h4 {
	position: absolute;
	top: 4px;
	left: 13px;
	color: #fff;
	border-radius: 2px;
	background: #a21d0a;
	font-size: 10px;
	font-weight: 600;
	padding: 4px 5px;
}

.film-action h3 {
	color: #fff;
	font-weight: 800;
	font-size: 13px;
	text-transform: capitalize;
}

.film-action h5 {
	float: none;
	margin-left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	color: #9E9E9E;
}

.film-action .item:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #292e39
		100%);
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	opacity: 1;
	height: 100%;
	bottom: -1px
}

/* End custom film item */

/* Top film */
.top-film .film-all {
	display: inline-block;
	margin-top: 5px;
	color: #ddd;
	font-size: 14px;
	cursor: pointer;
	font-weight: 300;
}

.top-film .film-all span {
	margin-right: 5px;
}

.top-film .film-all span:hover {
	color: #f78144;
	margin-right: 7px;
}

.top-film .item-film-action {
	width: 280px !important;
	height: 170px !important;
}

.top-film .item-film-action h4 {
	background: #333 !important;
	right: 9px !important;
	left: unset !important;
}

.top-film .description {
	bottom: 4px !important;
}

.top-film .description h3 {
	margin-bottom: 6px !important;
	color: #46e1ff !important;
}

.top-film .description h5 {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.top-film .view-top {
	position: absolute;
	right: 11px;
	bottom: 5px;
	display: flex;
	font-size: 12px;
}

.top-film .view-top {
	color: #fff;
}

.top-film .view-top h5 {
	margin-top: 3px !important;
	margin-left: 4px !important;
	color: #ffaa3c !important;
	font-size: 13px;
	margin-bottom: 0px;
	transform: translateY(-2px);
}

/* CSS list film hot three */
.list-film-three .item-film .item-img {
	width: 70px;
	height: 90px;
}

.list-film-three .item-film .item-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list-film-three .item-film .dis h3 {
	margin-top: 4px !important;
	font-size: 12px;
	color: #46e1ff;
	font-weight: 700;
	text-transform: capitalize;
}

.list-film-three .item-film .dis h5 {
	font-size: 12px;
	color: #fff;
}

.list-film-three .item-film .dis .fview {
	font-size: 12px;
	color: #696969;
}

.list-film-three .item-film .dis .view {
	margin-left: 8px;
	transform: translateY(-8px);
}

.list-hot {
	border-bottom: 2px solid #dacb46;
	padding: 7px;
	background: #131313;
	border-radius: 5px;
	width: 290px;
	height: auto;
}

.top-film .title {
	font: 25px/25px 'UTMCafetaRegular';
	color: #dacb46;
	text-shadow: 1px 1px 1px #1a1a1a;
	text-transform: uppercase;
	height: 25px;
	font-size: 25px;
}

/* Hover color yellow */
.list-film-action .item:hover {
	opacity: 0.8;
}

.list-film-action .item:hover .hover-change-color {
	color: #dacb46 !important;
}

.list-film-three .item-film:hover .hover-change {
	color: #dacb46 !important;
}

.list-film-three .item-film:hover img {
	opacity: 0.8;
}

/* Login form */
.login-form .form-group {
	display: flex;
	height: 52px;
}

.login-form .form-group label {
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 5px;
	background: #363b41;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	align-items: center;
	display: flex;
	justify-content: center;
}

.login-form .form-group .form-s {
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background: #3b4148;
	border: 1px solid #363b41;
}

.login-form  .btn-login {
	width: 100%;
	height: 52px;
	margin-top: 20px;
}

.add-video .form-control {
	background-color: unset;
	border: 1px solid #555;
}

.title-admin {
	font: 30px/40px 'UTMCafetaRegular';
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	height: 40px;
	line-height: 47px;
	color: #dacb46;
	border-radius: 3px 3px 0 0;
}

/* Page review */
.page-review .movie-poster {
	width: 450px;
	height: 370px;
	position: relative;
}

.page-review .movie-poster img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.page-review  .description .movie-summary p {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 15px;
	color: #c9c4c4;
}

.page-review  .description .movie-title {
	margin-top: unset;
}

.page-review  .description .movie-meta strong {
	color: #c9c4c4;
	margin-right: 8px;
}

.page-review .movie-poster:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #292e39
		100%);
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	opacity: 1;
	height: 100%;
	bottom: -1px;
}

.page-review .watch:hover {
	opacity: 0.9;
}

.breadcrumbs .name-film-watch {
	color: #dacb46;
	font-weight: 800;
	font-size: 20px;
	display: inline-block;
}

.watch-video .embed-responsive .embed-responsive-item .html5-video-player a
	{
	opacity: 0 !important;
}

.watch-video-des .images {
	width: 300px;
    height: 190px;
}

.watch-video-des .images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.watch-video-des {
	padding: 10px;
	background: #131313;
	border-radius: 5px;
	margin-bottom: 10px;
	
}

.ytp-title-channel {
	display: none !important;
}

.watch-video .text-eclip{
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 5;
    height: 128px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
}








