<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title th:text="${web.wname}"></title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">
			<div class="container">
				<!-- <div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
						<a th:href="@{/admin}">Admin</a>
						<span>Account manager</span>
						<span th:text="${film.fname}"></span>
					</div>
				</div> -->
				<div class="main-content form-group">
					<input type="hidden" th:value="${webDomain}" id="webDomain">
					<input type="hidden" value="" id="chosenIndex"> <i
						class="fas fa-user-circle"></i>
					<h2 class="float-left title-admin ">Quản lí Acount</h2>
					<div class="btn btn-primary float-right" data-toggle="modal"
						data-target="#createModal">Tạo tài khoản</div>

					<table class="table  table-hover" id="tableId"
						style="color: black; background: white;">
						<thead class="thead-dark">
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Email</th>
								<th scope="col">User name</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user,status : ${listUser}">
								<th scope="row" th:text="${status.index + 1}"></th>
								<td th:text="${user.email}"></td>
								<td th:text="${user.uname}"
									th:id="${'userName' + (status.index + 1)}"></td>
								<td hidden="hidden" th:text="${user.user_id}"
									th:id="${'userId' + (status.index + 1)}"></td>
								<td>
									<div class="btn btn-warning btn-sm"
										th:if="${user.uname != 'Admin'}"
										th:onclick="'onclickEditFunction(' + ${status.index + 1} + ');'"
										data-toggle="modal" data-target="#updateModal">Sửa</div>
									<div class="btn btn-warning btn-sm"
										sec:authorize="hasRole('ROLE_ADMIN')"
										th:if="${user.uname == 'Admin'}"
										th:onclick="'onclickEditFunction(' + ${status.index + 1} + ');'"
										data-toggle="modal" data-target="#updateModal">Sửa</div>
								</td>
								<td>
									<div class="btn btn-danger btn-sm"
										th:if="${user.uname != 'Admin'}"
										th:onclick="'onclickDeleteFunction(' + ${status.index + 1} + ');'"
										data-toggle="modal" data-target="#deleteModal">Xóa</div>
									<div class="btn btn-danger btn-sm"
										sec:authorize="hasRole('ROLE_ADMIN')"
										th:if="${user.uname == 'Admin'}"
										th:onclick="'onclickDeleteFunction(' + ${status.index + 1} + ');'"
										data-toggle="modal" data-target="#deleteModal">Xóa</div>
								</td>
							</tr>
						</tbody>
					</table>

					<!-- Modal to show when delete user -->
					<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
						<div class="modal-dialog" role="document">

							<!-- Modal content -->
							<div class="modal-content">

								<h3 style="text-align: center;">Are you sure</h3>
								<i class="fas fa-trash-alt"
									style="font-size: 100px; align-items: center; display: flex; justify-content: center; padding: 50px; color: brown;"></i>

								<div class="modal-body" style="text-align: center;">
									<p>Bạn có chắc chắn muốn xóa tài khoản này không ?</p>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer"
									style="align-items: center; display: flex; justify-content: center;">
									<button type="button" class="btn btn-danger" id="btnDelete" style="width: 90px;">Yes</button>
									<button type="button" class="btn btn-secondary" style="width: 90px;"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal" tabindex="-1" role="dialog" id="updateModal">
						<div class="modal-dialog" role="document">

							<!-- Modal content -->
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title">Chỉnh sửa tài khoản</h3>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<div class="form-group">
										<input type="text" placeholder="New user name"
											class="form-control" id="newUserName" required><br> <input
											type="password" placeholder="New password"
											class="form-control" id="newPassword"><br> <input required
											type="checkbox" onclick="showPassword()" id="showPassword"><label
											for="showPassword">&nbsp;Show Password</label>
									</div>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="btnEdit">Yes</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal" tabindex="-1" role="dialog" id="createModal">
						<div class="modal-dialog" role="document">

							<!-- Modal content -->
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title">Tạo tài khoản</h3>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<div class="form-group">
										<input type="text" placeholder="Email" class="form-control"
											id="email"><br> <input type="password"
											placeholder="Password" class="form-control" id="password"><br>
										<input type="password" placeholder="Re-password"
											class="form-control" id="rePassword"><br> <input
											type="text" placeholder="User name" class="form-control"
											id="uname">
									</div>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="btnCreate">Yes</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/account_manager.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>