<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<title > Web xem phim</title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">
			<div class="container">

				<h2
					style="color: cadetblue; font-size: 23px; font-weight: bold; line-height: 1.25;margin-bottom: 25px; display: flex;">
					<i class="fab fa-youtube" style="margin-right: 7px;"></i> Thêm phim
					nhiều tập
				</h2>
				<select class="form-control" id="selectForm"
					style="background-color: unset; color: unset">
					<option value="0">Phim lẻ</option>
					<option value="1" selected="selected">Phim bộ</option>
				</select> <br>
				<hr>
				<br>
				<div class="Add content form-group add-video" id="myform">
					<form th:action="@{/add-new-group-video}" method="post"
						th:object="${newFilmRequest}" enctype="multipart/form-data">

						<div class="row">

							<div class="col-md-6 col-sx-12">
								<input type="text" name="fname" placeholder="Tên phim"
									class="form-control" required="required" /><br> <input
									type="text" name="requestEmail" placeholder="Email "
									class="form-control" id="requestEmail"> <br>


								<div id="urlPlace">
									<input type="text" placeholder="Video 1 url" id="urlRaw1"
										class="form-control" required="required" /><br> <input
										type="hidden" name="listFilmUrl" id="url1" />
								</div>
								<input type="hidden" value="2" id="urlIndex">
								<div class="btn btn-info" id="btnAddUrl">
									<span class="glyphicon glyphicon-plus"></span>
								</div>
								<div class="btn btn-danger" id="btnDeleteUrl">
									<span class="glyphicon glyphicon-minus"></span>
								</div>
								<br> <br> <input type="text" name="introduction"
									placeholder="Giới thiệu" class="form-control"
									required="required" /><br> <input type="text"
									name="length" placeholder="Độ dài" class="form-control"
									required="required" /><br> <input type="text"
									name="fepisodecount" placeholder="Số tập phim"
									class="form-control" required="required" /><br> <input
									type="text" name="fyear" placeholder="Năm sản xuất"
									class="form-control" required="required" />
							</div>
							<div class="col-md-6 col-sx-12">
								<select th:field="*{country_id}" class="form-control"
									required="required" style="color: unset">
									<option value="">Chọn quốc gia</option>
									<option th:each="country : ${listCountry}"
										th:value="${country.coid}" th:utext="${country.coname}">
									</option>
								</select> <br>
								<div style="font-weight: 600;">Thể loại:</div>
								<br>
								<div class="form-check">
									<div th:each="category,status : ${listCatagory}"
										class="form-check-inline">
										<input type="checkbox" th:value="${category.cid}"
											th:id="'cbCategory' + ${status.index}"
											name="list_category_id" class="form-check-input">

										<th:block th:switch="${category.cname}">

											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Action'">
												Hành động </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Comedy'">
												Hài </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Cartoon'">
												Hoạt hình </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Fantasy'">
												Khoa học </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Horror'">
												Kinh dị </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Other'">
												Khác </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Romance'">
												Tình cảm </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Sport'">
												Thể thao </label>
											<label style="font-weight: 500;"
												class="form-check-label min-witdth"
												th:for="'cbCategory' + ${status.index}" th:case="'Travel'">
												Du lịch </label>
											
												
												
												
												
										</th:block>
									</div>
								</div>
								<br>
								<div>
									Banner: <input th:field="*{upload.fileDatas}" type="file"
										style="color: unset" class="form-control" /><br /> Image: <input
										style="color: unset" th:field="*{upload.fileDatas}"
										type="file" class="form-control" /><br />
								</div>
							</div>
						</div>


						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
							
						<button type="submit" class="btn btn-primary" id="btnCommit"
							style="min-width: 80px; margin-top: 20px;">Lưu</button>
					</form>
				</div>
				<!-- <h2 th:utext="${message}"></h2> -->
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/add_new_group_video.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>