<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title th:text="${web.wname}"></title>
	
	<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{~/js/bootstrap.js}"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">	
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
					<!-- 	<span th:text="${film.fname}"></span> -->
					</div>
				</div>
				<h2>Request Video Form</h2>
				<select class="form-control" id="selectForm">
    				<option value="0" selected="selected">Video</option>
    				<option value="1">Group Video</option>
    			</select>
    			<br><hr><br>
				<div class="Add content form-group" id="myform">
					<form th:action="@{/add-new-video}" method="post" th:object="${newFilmRequest}" enctype="multipart/form-data">
						<input type="text" name="requestEmail" placeholder="Email to contact" class="form-control" id="requestEmail"><br>
						<input type="text" name="fname" placeholder="Video name" class="form-control" required="required"/><br>
						<input type="text" placeholder="Url" id="urlRaw" class="form-control" required="required"/><br>
    					<input type="hidden" name="furl" placeholder="Url" id="url"/>
    					<input type="text" name="introduction" placeholder="Introduction" class="form-control" required="required"/><br>
    					<input type="text" name="length" placeholder="Length" class="form-control" required="required"/><br>
    					<!-- <input type="text" name="fepisodecount" placeholder="Episode count" class="form-control" required="required"/><br> -->
    					<input type="text" name="fyear" placeholder="Year" class="form-control" required="required"/><br>
    					<br>
    					<select th:field="*{country_id}" class="form-control" required="required">
                         	<option value=""> Chosen Country </option>
                         	<option th:each="country : ${listCountry}"
                                 th:value="${country.coid}"
                                 th:utext="${country.coname}">
                         	</option>
                  		</select>
                  		<br>
                  		<div>Categories:</div>
                  		<br>
                  		<div class="form-check">
                  			<div th:each="category,status : ${listCatagory}" class="form-check-inline">
                  				<input type="checkbox" th:value="${category.cid}" th:id="'cbCategory' + ${status.index}" name="list_category_id" class="form-check-input">
    							<label class="form-check-label min-witdth" th:for="'cbCategory' + ${status.index}" th:text="${category.cname}"></label>
    						</div>
    					</div>
    					<br>
    					<div>
    						Banner: <input th:field="*{upload.fileDatas}" type="file" class="form-control"/><br />      
         					Image: <input th:field="*{upload.fileDatas}" type="file" class="form-control"/><br />  
         				</div>  
         				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> 
    					<button type="submit" class="btn btn-primary" id="btnCommit">Commit Video</button>
					</form>
				</div>
				<h2 th:utext="${message}"></h2>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/add_new_video.js}"></script>
</body>
</html>