<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<title > Web xem phim</title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">


</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">
			<div class="container">
				<div class="page">


					<div class="filters" style="display: flex;">
						<!-- Thể loại -->
						<div style="position: relative">
							<h3 style="font-weight: 700; font-size: 16px;">Thể loại</h3>
							<select name="#" id="selectCategories">
								<option th:value="ALL" th:utext="All" th:selected="true"></option>
								<option th:each="category : ${listCategory}"
									th:value="${category.cid}" th:utext="${category.cname}">
							</select> <i class="fas fa-angle-down"
								style="position: absolute; right: 23px; bottom: 12px;"></i>
						</div>
						<!-- Năm  -->
						<div style="position: relative">
							<h3 style="font-weight: 700; font-size: 16px;">Năm</h3>
							<select name="#" id="selectYears">
								<option th:value="ALL" th:utext="All" th:selected="true"></option>
								<option th:each="year : ${listYear}" th:value="${year}"
									th:utext="${year}">
							</select> <i class="fas fa-angle-down"
								style="position: absolute; right: 23px; bottom: 12px;"></i>
						</div>

						<!-- Quốc gia -->
						<!-- <div style="position: relative">
							<h3 style="font-weight: 700; font-size: 16px;">Quốc gia</h3>
							<select name="#" id="selectCountries">
								<option th:value="ALL" th:utext="All" th:selected="true"></option>
								<option th:each="country : ${listCountry}"
									th:value="${country.coid}" th:utext="${country.coname}">
							</select> <i class="fas fa-angle-down"
								style="position: absolute; right: 23px; bottom: 12px;"></i>
						</div> -->


					</div>

					<!--  listfim -->
					<div class="film-action">
						<div class="row">
							<div class="row " style="margin-top: 15px;">
								<div class="list-film-action col-md-3 col-xs-6"
									style="max-width: 195px" th:each="film,filmStat : ${listFilm}"
									th:if="${film.fdeploy == 1 and filmStat.index >= (currentPage - 1) * maxItem and filmStat.index < currentPage * maxItem}">
									<div class="item-film-action"
										style="margin: 0 5px; margin-bottom: 10px;">
										<a class="item" th:href="@{~/review/{id}(id=${film.fid})}">
											<img class="img-film"
											th:src="@{~/image/{imageurl}(imageurl=${film.fbanner})}"
											alt="item-film-action">
											<h4>HD-Vietsub</h4>
											<div class="description">
												<h3 th:text="${film.fname}"></h3>
												<h5 th:text="${film.length}"></h5>
												<h5 th:text="${film.country.coname}"></h5>
											</div>
											<div class="item-bottom"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>




					<!--  pagination -->
					<div class="d-flex justify-content-center" style="width: 100%;">
						<div class="pagination d-flex justify-content-center"
							th:if="${pageCount != 0}">
							<a
								th:href="@{~/categories/{cid}/{year}/{page}(page=${currentPage - 1}, cid=${cid}, year=${fyear})}"
								class="page-number prev"><i class="fa fa-angle-left"></i></a> <span
								th:each="page : ${pages}"> <span
								th:if="${page == currentPage}"> <a
									class="page-number current" th:utext="${page}"></a>
							</span> <span th:unless="${page == currentPage}"> <a
									class="page-number" th:utext="${page}"
									th:href="@{~/categories/{cid}/{year}/{page}(page=${page}, cid=${cid}, year=${fyear})}"></a>
							</span>
							</span> <a
								th:href="@{~/categories/{cid}/{year}/{page}(page=${currentPage + 1}, cid=${cid}, year=${fyear})}"
								class="page-number next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>


				</div>



				<input type="hidden" id="cid" name="modelAttr" th:value="${cid}" />
				<input type="hidden" id="fyear" name="modelAttr" th:value="${fyear}" />

				<!-- <input type="hidden" id="coid" name="modelAttr" th:value="${coid}" /> -->
			</div>
			<!-- .container -->
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#category').addClass('current-menu-item');

			var selectedCategory = $('#cid').val();
			$('#selectCategories').val(selectedCategory);

			var selectedYears = $('#fyear').val();
			$('#selectYears').val(selectedYears);

			/* $('#country').addClass('current-menu-item'); */

			/* var selectedCountry = $('#coid').val();
			$('#selectCountries').val(selectedCountry); */

		});

		$('#selectCategories').change(
				function() {
					var value = $(this).val();
					var selectedYears = $('#fyear').val();
					console.log('thê loại', value)
					window.location.replace('/categories/' + value + '/'
							+ selectedYears);
				});

		$('#selectYears').change(
				function() {
					var value = $(this).val();
					var selectedCategory = $('#cid').val();
					console.log('năm', value)
					window.location.replace('/categories/' + selectedCategory
							+ '/' + value);
				});

		/* $('#selectCountries').change(
				function() {
					var value = $(this).val();
					console.log('quốc gia', value)
					var selectedYears = $('#fyear').val();
					var selectedCategory = $('#cid').val();

					window.location.replace('/categories/' + selectedCategory
							+ '/' + selectedYears + '/' + value);
				}); */
	</script>

</body>
</html>