<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<title th:text="${web.wname}"></title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
	<footer class="site-footer footer-change">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-6 ">
					<img src="https://phimmoiplus.net/media/images/logo.png" alt="logo-footer">
					<h5>© 2021 Phimmoi.Net</h5>
					<h5 style="line-height: 20px;">Chúng tôi đã trở lại với sứ
						mệnh mới chỉ còn là những
						tên miền cũ, hãy truy cập ngay bằng tên miền mới PhimMoiPlus.Net</h5>
				</div>
				<div class="col-md-3 col-xs-6 phan" >
					<h1 style="font-size: 23px;">Phim mới</h1>
					<h5>Phim Mới</h5>
					<h5>Phim chiếu rạp</h5>
					<h5>Phim lẻ</h5>
					<h5>Phim bộ</h5>
					<h5>Phim hành động</h5>
					<h5>Phim viễn tưởng</h5>
					<h5>Phim tâm lý</h5>
					<h5>Phim hài hước</h5>
				</div>
				<div class="col-md-2 col-xs-6 phan">
					<h1 style="font-size: 23px;">Phim Hay</h1>
					<h5>Phim Mỹ</h5>
					<h5>Phim Hàn Quốc</h5>
					<h5>Phim Trung Quốc</h5>
					<h5>Phim Thái Lan</h5>
					<h5>Phim Việt Nam</h5>
					<h5>Phim Ma Kinh Dị</h5>
					<h5>Phim Hoạt Hình</h5>

				</div>
				<div class="col-md-3 col-xs-6 phan">
					<h1 style="font-size: 23px;">Phim Hot</h1>
					<h5>Phimmoi</h5>
					<h5>Sitemap</h5>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	
	
</body>
</html>


