<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<title th:text="${web.wname}"></title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<span>TOP PHIM HAY</span>
					</div>

					<div class="movie-list">

						<!-- list film -->
						<div class="film-action">
							<div class="row">
								<div class="row " style="margin-top: 15px;">
									<div class="list-film-action col-md-3 col-xs-6"
										style="max-width: 195px" th:each="film,filmStat : ${listFilm}"
										th:if="${film.fdeploy == 1 and filmStat.index >= (currentPage - 1) * maxItem and filmStat.index < currentPage * maxItem}">
										<div class="item-film-action"
											style="margin: 0 5px; margin-bottom: 10px;">
											<a class="item" th:href="@{~/review/{id}(id=${film.fid})}">
												<img class="img-film"
												th:src="@{~/image/{imageurl}(imageurl=${film.fbanner})}"
												alt="item-film-action">
												<h4>HD-Vietsub</h4>
												<div class="description">
													<h3 th:text="${film.fname}"></h3>
													<h5 th:text="${film.length}"></h5>
													<h5 th:text="${film.country.coname}"></h5>
												</div>
												<div class="item-bottom"></div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>


						<!--pagination  -->
						<div class="d-flex justify-content-center">
							<div class="pagination " th:if="${pageCount != 0}">
								<a th:href="@{~/hotvideo/{page}(page=${currentPage - 1})}"
									class="page-number prev" style="margin-left: 15px;"><i class="fa fa-angle-left"></i></a> <span
									th:each="page : ${pages}"> <span
									th:if="${page == currentPage}"> <a
										class="page-number current" th:utext="${page}" ></a>
								</span> <span th:unless="${page == currentPage}"> <a 
										class="page-number" th:utext="${page}"
										th:href="@{~/hotvideo/{page}(page=${page})}"></a>
								</span>
								</span> <a th:href="@{~/hotvideo/{page}(page=${currentPage + 1})}"
									class="page-number next" style="margin-right: 15px;"><i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .container -->
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>

	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#topview').addClass('current-menu-item');
		});
	</script>

</body>
</html>