<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<title th:text="${web.wname}"></title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">

<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<header class="site-header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sx-12">
					<a th:href="@{~/index}" id="branding"> <img
						src="https://phimmoiplus.net/media/images/logo.png"
						alt="logo-header">
					</a>
				</div>
				<div class="col-md-6 col-sx-12">
					<div id="menu-item-search">
						<input id="btnSearch" class="input-search-phim" type="search"
							placeholder="Tìm: tên phim, đạo diễn, diễn viên"
							aria-label="Search">
					</div>
				</div>
			</div>

			<div class="main-navigation row" style="margin-top: 20px;">
				 <button type="button" class="menu-toggle">
					<i class="fa fa-bars"></i>
				</button> 

				<ul class="menu" style="transform: translateX(-29px);">
					<li class="menu-item" id="home"><a href="/"><i class="fas fa-home" style="margin-right: 5px"></i>Trang chủ</a></li>
					
					<li class="menu-item" id="category"><a
						th:href="@{/categories/ALL/ALL}"><i class="fas fa-folder" style="margin-right: 5px"></i>Thể loại</a></li>
					<li class="menu-item" id="country"><a
						th:href="@{/countries/ALL}"> <i class="fas fa-globe-asia" style="margin-right: 5px"></i>Quốc gia</a></li>
					
					<li class="menu-item" id="requestManager"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEMBER')"><a
						th:href="@{/request-manager/1}">Quản lí yêu cầu</a></li>
					<li class="menu-item" id="reportManager"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEMBER')"><a
						th:href="@{/report-manager/1}">Quản lí report</a></li>
					<li class="menu-item" id="adminFeature"
						sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin
							Feature</a></li>
					<li class="menu-item" id="videoManager"
						sec:authorize="hasRole('ROLE_MEMBER') and !hasRole('ROLE_ADMIN')"><a
						th:href="@{/video-manager?searchCondition=}">Video Manager</a></li>
					<li class="menu-item" id="addfilm"><a
						th:href="@{/add-new-video}">Thêm phim</a></li>
					<li class="menu-item" id="signin"><a th:href="@{/login}"
						sec:authorize="!hasAnyRole('ROLE_ADMIN','ROLE_MEMBER')">Đăng
							nhập</a></li>
					
					<li class="menu-item" id="sginout"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEMBER')"><a
						th:href="@{/logout}">Sign Out</a></li>
				</ul>

			</div>
			<!-- .main-navigation -->

			<div class="mobile-navigation"></div>
		</div>
	</header>
</body>
</html>