<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title th:text="${web.wname}"></title>
	
	<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{~/js/bootstrap.js}"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{~/css/style.css}">
	<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">	
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
						<span>Request manager</span>
						<!-- <span th:text="${film.fname}"></span> -->
					</div>
				</div>
				<div class="main-content form-group">
        			<h2>Request Manager</h2>
        			<table class="table table-striped table-hover" id="tableId">
  						<thead class="thead-dark">
    						<tr>
      							<th scope="col">#</th>
      							<th scope="col">Video Name</th>
      							<th scope="col">Status</th>
     	 						<th scope="col">Request Email</th>
     	 						<th scope="col">Request Type</th>
    						</tr>
  						</thead>
  						<tbody>
    						<tr th:each="film,status : ${listFilmNoDeployOrHasRequest}">
      							<th scope="row" th:text="${status.index + 1}"></th>
      							<td th:text="${film.fname}"></td>
      							<td th:if="${film.fstatus == 0}">Video</td>
      							<td th:if="${film.fstatus == 1}">Group Video</td>
      							<td th:text="${film.requestEmail}"></td>
      							<td th:text="${film.requestType}"></td>
      							<td hidden="hidden" th:text="${film.fid}"></td>
    						</tr>
  						</tbody>
					</table>
					<input type="hidden" id="hdnCurrentPage" th:value="${currentPage}">
					<div class="pagination d-flex justify-content-center" th:if="${pageCount != 0}">
						<a th:href="@{~/request-manager/{page}(page=${currentPage - 1})}" class="page-number prev"><i class="fa fa-angle-left"></i></a>
						<span th:each="page : ${pages}">
							<span th:if="${page == currentPage}">
								<a class="page-number current" th:utext="${page}" ></a>
							</span>
							<span th:unless="${page == currentPage}">
								<a class="page-number" th:utext="${page}" th:href="@{~/request-manager/{page}(page=${page})}"></a>
							</span>
						</span>
						<a th:href="@{~/request-manager/{page}(page=${currentPage + 1})}" class="page-number next"><i class="fa fa-angle-right"></i></a>
					</div>
    			</div>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/request_manager.js}"></script>	
</body>
</html>