<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title th:text="${web.wname}"></title>
	
	<script th:src="@{~/js/chart.min.js}"></script>
	<script th:src="@{~/js/utils.js}"></script>
	<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{~/js/bootstrap.js}"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{~/css/style.css}">
	<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">	
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
						<a th:href="@{/admin}">Admin</a>
						<span>Chart</span>
					</div>
				</div>
				<div class="main-content form-group">
					<input type="hidden" th:value="${webDomain}" id="webDomain">
        			<h2>Statistics Chart</h2>
        			<select name="#" id="selectYears" class="select-form">
						<option th:value="Current" th:utext="--Current--" th:selected="true" disabled="disabled"></option>
						<option th:each="year : ${listYear}" th:value="${year}" th:utext="${year}">
					</select>
        			<div id="container" class="chartCanvas">
						<canvas id="acceptVideoChart"></canvas>
						<br>
						<canvas id="commentChart"></canvas>
					</div>
					<br>
					<select name="#" id="selectMember" class="select-form">
						<option th:value="Current" th:utext="--Default--" th:selected="true" disabled="disabled"></option>
						<option th:each="user : ${listUser}" th:value="${user.user_id}" th:utext="${user.uname}">
					</select>
					<div id="container" class="chartCanvas">
						<canvas id="memberReportChart"></canvas>
					</div>
    			</div>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/statistics-chart.js}"></script>
</body>
</html>