<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title > Web xem phim</title>

<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.js}"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css">
<link th:href="@{~/fonts/font-awesome.min.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/fontawesome/css/all.min.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">
			<div class="container">
				<!-- <div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
						<a th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
						<a th:href="@{/admin/videoManagerAdvance?searchCondition=}" sec:authorize="hasRole('ROLE_ADMIN')">Video manager advance</a>
						<a th:href="@{/video-manager?searchCondition=}" sec:authorize="hasRole('ROLE_MEMBER')">Video manager</a>
						<span>Video detail</span>
						<span th:text="${film.fname}"></span>
					</div>
				</div> -->
				<div class="main-content form-group">
					<input type="hidden" th:value="${webDomain}" id="webDomain">
					<input type="hidden" th:value="${film.fid}" id="filmId">
					<h2 class="float-left" th:text="${film.fname}"></h2>
					<div class="float-right">
						<input type="number" class="my-search-input"
							placeholder="Search episode" id="searchCondition">
						<button id="btnSearch" class="my-search-button"
							onclick="searchFilm()">
							<i class="fa fa-search"></i>
						</button>
					</div>
					<table class="table table-striped" id="tableId">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Episode</th>
								<th scope="col">Url</th>
								<th scope="col">Deploy status</th>
								<th scope="col">Request email</th>
								<th scope="col">Accept account</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="filmDetail,status : ${listFilmDetail}">
								<th scope="row"><input type="radio" name="chosenFilmDetail"
									th:value="${filmDetail.fdid}"></th>
								<td th:text="${filmDetail.episode}"
									th:id="${'filmDetailEpisode' + filmDetail.fdid}"></td>
								<td th:text="${filmDetail.furl}"
									th:id="${'filmDetailUrl' + filmDetail.fdid}"
									class="display-none"></td>
								<td><a th:href="${filmDetail.furl}"
									th:text="${filmDetail.furl}" target="_blank"></a></td>
								<td th:text="${filmDetail.fddeploy}"
									th:id="${'flimDetailDeploy' + filmDetail.fdid}"></td>
								<td th:text="${filmDetail.requestEmail}"
									th:id="${'filmDetailRequestEmail' + filmDetail.fdid}"></td>
								<td th:text="${filmDetail.acceptAccount}"
									th:id="${'filmDetailAcceptAccount' + filmDetail.fdid}">
							</tr>
						</tbody>
					</table>
					<div class="btn btn-warning btn-sm"
						sec:authorize="hasRole('ROLE_ADMIN')" data-toggle="modal"
						data-target="#updateModal" onclick="onclickEditFunction()"
						id="divUpdate">Update</div>
					<div class="btn btn-warning btn-sm"
						sec:authorize="hasRole('ROLE_MEMBER') and !hasRole('ROLE_ADMIN')"
						data-toggle="modal" data-target="#updateModal"
						onclick="onclickEditFunction()" id="divUpdateMember">Update</div>
					<div class="btn btn-danger btn-sm"
						sec:authorize="hasRole('ROLE_ADMIN')" data-toggle="modal"
						data-target="#deleteModal" onclick="onclickDeleteFunction()"
						id="divDelete">Force Delete</div>

					<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
						<div class="modal-dialog" role="document">

							<!-- Modal content -->
							<div class="modal-content">

								<h3 style="text-align: center;">Are you sure</h3>
								<i class="fas fa-trash-alt"
									style="font-size: 100px; align-items: center; display: flex; justify-content: center; padding: 30px; color: brown;"></i>

								<div class="modal-body" style="text-align: center;">
									<p>Bạn có chắc chắn muốn xóa tập phim này ?</p>
								</div>


								<div class="modal-footer" style="align-items: center; display: flex; justify-content: center;margin-bottom: 10px;">
									<button type="button" class="btn btn-primary" id="btnDelete" style="width: 90px;">Yes</button>
									<button type="button" class="btn btn-secondary" style="width: 90px;"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal" tabindex="-1" role="dialog" id="updateModal">
						<div class="modal-dialog" role="document">

							<!-- Modal content -->
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title">Update video detail</h3>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<div class="form-group">
										<input type="text" placeholder="Episode" class="form-control"
											id="newFilmDetailEpisode"><br> <input
											type="text" placeholder="Url" class="form-control"
											id="newFilmDetailUrl"><br> <input type="text"
											placeholder="Deploy status" class="form-control"
											id="newFilmDetailDeploy"><br> <input type="text"
											sec:authorize="hasRole('ROLE_ADMIN')"
											placeholder="Request email" class="form-control"
											id="newFilmDetailRequestEmail"><br> <input
											type="text" sec:authorize="hasRole('ROLE_ADMIN')"
											placeholder="Accept account" class="form-control"
											id="newFilmDetailAcceptAccount">
									</div>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" sec:authorize="hasRole('ROLE_ADMIN')"
										class="btn btn-primary" id="btnEdit">Yes</button>
									<button type="button"
										sec:authorize="hasRole('ROLE_MEMBER') and !hasRole('ROLE_ADMIN')"
										class="btn btn-primary" id="btnEditMember">Yes</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script th:src="@{~/js/video_detail_manager.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>